.category-card{
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;  
    width: 70%;
    cursor: url('/test.png') , auto;

    
}

.category-text{
    text-transform: uppercase;
}

.video-zoom {
  transition: transform 0.3s ease-in-out;
}

.video-wrapper {
  position: relative;
  width: 100%;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #FBB141;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 2px 10px #FBB141;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dot-1 {
  top: 10%;
  left: 30%;
}

.dot-2 {
  top: 50%;
  right: 25%;
}

.dot-3 {
  bottom: 30%;
  left: 45%;
}

.tooltip {
  position: absolute;
  left: -110px;
  top: 50%;
  transform: translateY(-50%);
  color: #FBB141;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
}

.tooltip.visible {
  opacity: 1;
}

.tooltip-right {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #FBB141;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  z-index: 20;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}