@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace;
  cursor: url('/test.png') , auto;
}

* {
  cursor: url('/yts-logo.png') 16 16, auto;
}